#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';


# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Some gems requires this
export _system_type="Darwin"

# Grubvox requires this
export TERM=xterm-256color

export PATH=$PATH:~/.composer/vendor/bin
export PATH=$PATH:~/Projects/flutter/bin

# OH-MY-ZSH variables
export ZSH_THEME_CLOUD_PREFIX="👽"
export ZSH_THEME="cloud"
export LANG=es_ES.UTF-8
