#!/usr/bin/env bash

# Show a list of terminal colors names and displays the color
function terminal-colors-list() {
	for i in {0..255} ; do
		printf "\x1b[38;5;${i}mcolour${i}\n"
	done
}

# Creates a backup of secret .files in Google Drive
function backup-security() {
    DEST=backup-secret-dotfiles.zip
    cd ${HOME}
    zip /tmp/${DEST} .rclone.conf
    for i in .netrc .ssh .gnupg .ultrahook .extra .rclone.conf; do
        zip -r -u /tmp/${DEST} ${i}
    done
    cd /tmp
    rclone -P copy ${DEST} GdriveMario:/Backups/${DEST}
}


# vim: syntax=sh
