#!/usr/bin/env bash

# Show a list of terminal colors names and displays the color
function terminal-colors-list() {
    for i in {0..255} ; do
        printf "\x1b[38;5;${i}mcolour${i}\n"
    done
}

# Creates a backup of secret .files in Google Drive
function backup-security() {
    DEST=backup-secret-dotfiles.zip
    cd ${HOME}
    zip /tmp/${DEST} .rclone.conf # This is a trick so the `zip -u` to work
    for i in .aws .netrc .ssh .gnupg .ultrahook .extra .rclone.conf .todoist.config.json .intelephense; do
        zip -r -u /tmp/${DEST} ${i}
    done
    cd /tmp
    rclone -P copy ${DEST} GdriveMario:/Backups/
}

# Updates Python packages
function update_pip() {
    pip3 list --outdated --format=freeze | grep -v '^\-e' | cut -d = -f 1  | xargs -n1 pip3 install -U
}

# Diff the contents of 2 zip files
function diff-zip {
    if [ ! -f "$1" -o ! -f "$2" ]; then
        echo "Diff the contents of 2 zip files. Usage:"
        echo "  $0 <file1.zip> <file2.zip>"
        return
    fi
    file1=$1
    file2=$2
    diff \
      <(unzip -vqq $file1 | awk '{$2=""; $3=""; $4=""; $5=""; $6=""; print}' | sort -k3) \
      <(unzip -vqq $file2 | awk '{$2=""; $3=""; $4=""; $5=""; $6=""; print}' | sort -k3)
}

# vim: syntax=sh ts=4 sw=4 et
